@import '../../variables.scss';
.landing-page {
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 1200px;
  height: calc(100vh - 60px);
  color: $color-font-header;
}

.Aboutdescription {
  padding: 0 20%;
}

.SectionAboutCont {
  padding-bottom: 15px;
  border-bottom: 1px solid $color-font-offwhite;
}

.AboutContainer li {
  list-style-type: none;
  margin: 0 1%;
}

.AboutContainer ul {
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
}

.AboutContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: $color-font-offwhite;
}

.TutInnerCont {
  padding: 15px;
}

.AboutContainer img {
  width: auto;
  height: auto;
  border: 2px solid $color-font-offwhite;
  border-radius: 3px;
  max-height: 400px;
}

.MarryContainer {
  display: flex;
  flex-direction: row;
}

.landing-page-bg {
  background-image: url('https://i.imgur.com/Qg3cEoS.jpg');
  filter: blur(3px);
  -webkit-filter: blur(3px);
  background-color: rgb(97, 97, 97);

  background-blend-mode: multiply;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  top: -10px;
  z-index: -10;
  padding: 0;
  width: 100%;
  height: calc(100vh - 60px);
}

.landing-page h2 {
  margin-top: 6rem;
  font-size: 4rem;
  font-weight: 100;
  margin-bottom: 2rem;
  font-family: $font-Family-header;
}
.landing-page h3 {
  font-size: 2rem;
  font-weight: 100;
}
.landing-page a {
  font-size: 2rem;
  color: $color-font-header;
  text-decoration: none;
  cursor: pointer;
}
.landing-signup-a {
  border: 3px solid $color-font-header;
  font-weight: 600;
  border-radius: 1.2rem;
  padding: 0.25em 0.5em;
  &:hover {
    background-color: $color-font-header;
    color: $color-link;
  }
}

@media screen and (min-width: 540px) {
}

@media screen and (max-width: 800px) {
  .MarryContainer {
    display: flex;
    flex-direction: column;
  }
  .AboutContainer img {
    width: 100%;
    height: auto;
    border: 2px solid $color-font-offwhite;
    border-radius: 3px;
    max-height: 700px;
  }
  .Aboutdescription {
    padding: 15px 15px;
  }
}
