.landing-page{
    margin-top: 6vh;
    padding-top: 35px;
    padding-bottom:35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
    color: white;
}
.landing-page h2{
 margin-top: 5vh;
 height: 12vh;
 font-size: 10vw;
 font-weight: 100;
}
.landing-page h3{
    margin-top: 10vh;
    height: 20vh;
    font-size: 4vw;
    font-weight: 100;
}
.landing-page a{
    margin-top: 8vh;
    font-size: 1.9vw;
    color: white;
    text-decoration: none;
  cursor: pointer;
}