@import '../../variables.scss';

.landing-page {
  padding-top: 0px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 1200px;
  color: $color-font-header;
  background-image: url('https://i.imgur.com/8yA7BJg.jpg');
  background-color: $color-bg-main;
  background-blend-mode: multiply;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.landing-page h2 {
  margin-top: 10vh;
  height: 12vh;
  font-size: 10vw;
  font-weight: 100;
}
.landing-page h3 {
  margin-top: 10vh;
  height: 20vh;
  font-size: 4vw;
  font-weight: 100;
}
.landing-page a {
  margin-top: 2vh;
  font-size: 1.9vw;
  color: $color-font-header;
  text-decoration: none;
  cursor: pointer;
}
#icon {
  margin-top: 9vh;
}
