@import "../../variables.scss";

.AddGroupForm {
  border: 2px solid $color-bg-main5;
  height: auto;
  padding: 15px;
  width: 97%;
  margin: 60px auto;
  border-radius: 5px;
}

.AddGroupForm label {
  margin-bottom: 5px;
}

form input {
  width: 100%;
  padding: 15px;
  margin: 0 auto;
  border: 1px solid $color-bg-main5;
  background: $color-bg-main2;
  font-size: 1em;
  font-weight: 100;
}

@media only screen and (min-width: 750px) {
  .AddGroupForm {
    border: 2px solid $color-bg-main5;
    height: auto;
    padding: 15px;
    margin: 65px auto;
    width: 40%;
  }
  form input {
    width: 100%;
    padding: 15px;
    margin: 0 auto;
    border: 1px solid $color-bg-main5;
    background: $color-bg-main2;
    color: $color-font-offwhite;
    font-size: 1em;
    font-weight: 100;
  }
}