@import '../../variables.scss';

.Button,
.ButtonCancel {
  border: 1px solid #aaa;
  background-color: white;
  color: black;
  font-size: 1.1em;
  border-radius: 4px;
  padding: 8px 12px;
  font-weight: bold;
  cursor: pointer;
  margin: 5px 10px;
}

.Button:hover {
  background-color: $color-link;
  color: $color-font-header;
  border: 1px solid white;
}

.ButtonCancel:hover {
  background-color: $color-error;
  color: $color-font-header;
  border: 1px solid white;
}
