@import '../../variables.scss';

.Button {
  border: 1px solid #aaa;
  background-color: white;
  color: black;
  font-size: 1.1em;
  border-radius: 4px;
  padding: 8px 12px;
  font-weight: bold;
  cursor: pointer;
}

.Button:hover {
  background-color: #339fe8;
  color: $color-font-normal;
  border: 1px solid white;
}
