@import '../../variables.scss';
#pointsIcon {
  color: rgb(235, 208, 57);
}
.AllTimeScore{
  display: flex;
  flex-direction: column;
}
.userScore {
  margin: 0 auto;
}
.groop-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 35px;
  color: white;
}
.groop-page h2 {
  font-size: 40px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.members-section {
  display: none;
}
.members-section-mobile {
  display: initial;
}

.groop-page-list {
  width: 100%;
}

#label-task-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  z-index: 1;
  background-color: #1f4cbf;
  text-align: center;
  color: white;
  font-size: 20px;
  width: 100%;
}
#fixed-container {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

#date {
  font-size: 20px;
}
#label-menu {
  display: none;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.menu li {
  margin-right: 30px;
  list-style-type:none;
}
.task-list-container {
  background-color: white;
  border: 3px solid #1f4cbf;
  border-radius: 10px;
  height: 470px;
  overflow-y: auto;
  margin-left: 5%;
  margin-right: 5%;
}
.task-list {
  list-style-type: none;
  padding-left: 0px;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.task-list li {
  border-bottom: 2px solid #1f4cbf;
  width: 100%;
  text-align: left;
}
.task-list li:not(:first-child) {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
#task-link {
  text-decoration: none;
  color: white;
  padding-top: 35px;
  font-size: 20px;
}
@media screen and (min-width: 1200px) {
  .groop-page {
    padding-top: 30px;
  }

  .members-section-mobile {
    display: none;
  }
  .groop-page-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }
  .task-list-container {
    width: 50%;
    height: 500px;
    border: none;
    border-radius: 0px;
    margin-left: 1.2%;
    margin-right: 10.2%;
    background-color: #143380;
    border-left: 1px solid white;
  }
  #label-task-list {
    font-size: 18px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .task-list {
    padding-left: 8px;
  }
  .task-list li {
    border-bottom: 2px solid #1f4cbf;
    color: white;
    width: 97%;
  }
  .task-list li:not(:first-child) {
    padding-top: 25px;
  }
  #label-menu {
    display: inherit;
    font-size: 18px;
    background-color: #1f4cbf;
    color: white;
    width: 100%;
    border-radius: 10px;
  }
  .menu li {
    font-size: 16px;
  }
  .scores-section {
    display: flex;
    flex-direction: row;
  }
  .scores-section1 {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    color: white;
    margin-right: 5%;
    width: 52.5%;
    border-left: 1px solid white;
  }
  ol {
    padding-left: 25px;
    margin-top: 3px;
    margin-bottom: 0px;
  }

  .scores-section2 {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    color: white;
    width: 42.5%;
    border-left: 1px solid white;
  }
  .members-section {
    display: initial;
    width: 25%;
  }
  .members {
    width: 100%;
    border-bottom: 1px solid white;
    color: white;
    padding-bottom: 0.6%;
  }
  #weekly-scores-label,
  #total-scores-label {
    font-size: 14px;
    background-color: #1f4cbf;
    color: white;
    width: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .scores-section li {
    margin-top: 10px;
    text-align: left;
    font-size: 13px;
  }
  .pieChart {
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pieChart p {
    margin-top: 5%;
  }
  #task-link {
    display: none;
  }
}

@media screen and (min-width: 1400px) {
  .groop-page {
    padding-top: 30px;
  }
  #label-task-list {
    font-size: 20px;
  }
  .members-section-mobile {
    display: none;
  }
  .groop-page-list {
    margin-top: 20px;
  }
  .task-list-container {
    width: 60%;
    height: 660px;
    border: none;
    border-radius: 0px;
    margin-left: 1.2%;
    margin-right: 8.2%;
    border-left: 1px solid white;
  }
  .task-list li {
    border-bottom: 2px solid #1f4cbf;
    color: white;
  }
  .task-list li:not(:first-child) {
    padding-top: 25px;
  }
  #label-menu {
    display: inherit;
    font-size: 20px;
    background-color: #1f4cbf;
    color: white;
    width: 100%;
  }
  .menu li {
    font-size: 18px;
  }
  .scores-section {
    display: flex;
    flex-direction: row;
  }
  .scores-section1 {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    color: white;
    margin-right: 5%;
    width: 52.5%;
    border-left: 1px solid white;
  }
  ol {
    padding-left: 25px;
    margin-top: 3px;
    margin-bottom: 0px;
  }

  .scores-section2 {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    color: white;
    width: 42.5%;
    border-left: 1px solid white;
  }
  .members-section {
    display: initial;
    width: 25%;
  }
  .members {
    width: 100%;
    border-bottom: 1px solid white;
    color: white;
    padding-bottom: 0.6%;
  }
  #weekly-scores-label,
  #total-scores-label {
    font-size: 17px;
    background-color: #1f4cbf;
    color: white;
    width: 100%;
  }
  .scores-section li {
    margin-top: 10px;
    text-align: left;
    font-size: 15px;
  }
  .pieChart {
    margin-top: 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pieChart p {
    margin-top: 4%;
    color: white;
  }
  #task-link {
    display: none;
  }
}
