.groop-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    color: white;
}
.groop-page h2{
    font-size: 40px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
#date{
    font-size: 20px;
}
.menu{
    display: flex;
    flex-direction: row;

}
.menu li{
    margin-right: 30px;
}
.task-list-container{
    background-color: white;
    border: 3px solid #1F4CBF;
    border-radius: 10px;
    height: 460px;
}
.task-list{
   list-style-type: none;
    padding-left: 0px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.task-list li{
    border-bottom: 1px solid black;
    width: 100%;
    text-align: left;
}
.task-list li:not(:first-child){
    padding-top: 10px;
}
