@import '../../variables.scss';

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  color: $color-font-normal;
}

.Required {
  color: $color-error;
}

.signup-h2 {
  margin-bottom: 1.2rem;
}

.register-label {
  font-size: 14px;
  margin-left: 0.2rem;
}

.toLogin-link {
  text-align: center;
  font-size: 15px;
  margin-top: 1rem;
  color: $color-font-header;
  &:hover {
    color: $color-secondary;
  }
}

@media only screen and (min-width: 750px) {
  .register-label {
    font-size: 15px;
  }
  .toLogin-link {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1300px) {
  .register-label {
    font-size: 18px;
  }
  .toLogin-link {
    font-size: 16.5px;
  }
}
