@import '../../variables.scss';

.App {
  text-align: center;
}

main {
  position: absolute;
  width: 100%;
  top: 55px;
}

@media only screen and (min-width: 750px) {
  main {
    top: 60px;
  }
}
