@import '../../variables.scss';

.edit-task-form {
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 500px;
  margin: 60px 15px;
  border: 2px solid $color-bg-main5;
  height: auto;
  padding: 15px;
  border-radius: 5px;
}

.edit-task-form label {
  margin-bottom: 5px;
}

.EditTaskButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.delete-confirmation {
  display: flex;
  flex-direction: column;
}

input {
  flex: 0 0 auto;
}

select {
  line-height: 1.5rem;
  flex: 0 0 auto;
  option {
  }
}

@media only screen and (min-width: 530px) {
  .edit-task-form {
    margin: 100%;
    margin: 60px auto;
  }
}
