@import '../../variables.scss';


.edit-task-form {
  display: flex;
  flex-direction: column;
  border: 2px solid $color-bg-main5;
  height: auto;
  padding: 15px;
  margin: 60px auto;
  border-radius: 5px;
  width: 500px;
}

.edit-task-form label {
  margin-bottom: 5px;
}

.EditTaskButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.delete-confirmation {
  display: flex;
  flex-direction: column;
}

input {
  flex: 0 0 auto;
}

select {
  line-height: 1.5rem;
  flex: 0 0 auto;
  option {
  }
}
