@import "../../variables.scss";

.filter-search-form {
  display: flex;
  flex-direction: row;
}

.FilterButton {
  color: $color-bg-main6;
  margin-left: 0;
  border-top: 1px solid $color-bg-main5;
  background-color: transparent;
  border-bottom: 1px solid $color-bg-main5;
  border-right:1px solid $color-bg-main5;
  border-left: none;
  cursor: pointer;
  height: 40px;
  width: 40px;
}

.FilterButtonCancel:hover {
  color: $color-font-offwhite;
  border-top: 1px solid $color-error;
  border-bottom: 1px solid $color-error;
  border-right:1px solid $color-error;
  background-color: $color-error;
}

.FilterButton:hover {
  color: $color-font-offwhite;
  border-top: 1px solid $color-font-offwhite;
  border-bottom: 1px solid $color-font-offwhite;
  border-right:1px solid $color-font-offwhite;
  border-left: 1px solid $color-font-offwhite;
}

.FilterButtonCancel {
  color: $color-error;
  margin-left: 0;
  cursor: pointer;
  border-top: 1px solid $color-bg-main5;
  background-color: transparent;
  border-bottom: 1px solid $color-bg-main5;
  border-right: 1px solid $color-bg-main5;
  border-left: none;
  height: 40px;
  width: 40px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.FilterButton svg, .FilterButtonCancel svg {
  margin-top: 10px;
}

.filter {
  display: flex;
  padding: 0.25rem 1rem;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 0rem;
  margin-right: 0;
  width: 100%;

  > label {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: auto;
    margin-right: 0%;
    margin-left: 0;
    margin-top: 5px;

    > select {
      margin: 5px auto;
      height: 30px;
      border: 1px solid $color-bg-main5;
      padding: 3px;
      min-width: 250px;
    }
  }
}
.filter-search-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;

  input {
    flex: 5 1 60%;
    height: 40px;
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
  }

  > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1 1 auto;

    > button {
      margin: 0 1rem 0rem 0;
    }
  }
}

.filter-search-form button {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

select {
  -webkit-appearance: none;
  padding: 5px 10px;
}

@media screen and (min-width: 800px) {
  .filter {
    display: flex;
    width: 100%;
    margin: 0 auto;
    margin-top: 3rem;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    > label {
      width: 22%;
      margin-right: 1%;

      > select {
        margin-right: 0px;
        margin-top: 5px;
        margin-bottom: 1rem;
        height: 40px;
        border: 1px solid $color-bg-main5;
      }
    }
  }
  .filter-search-form {
    flex-direction: row;
    align-items: flex-end;
    > input {
      height: 40px;
    }
    > div {
      width: auto;

      > button {
        margin: 0 1rem 1rem 0;
      }
    }
  }
}

@media screen and (min-width: 1300px) {
  .filter {
    width: 70%;
  }
}
