.filter{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.member-select{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.member-select button{
    margin-left: 20px;
}