@import '../../variables.scss';

.task-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background-color: $color-bg-main2;
  color: $color-font-offwhite;

  &--complete {
  }
}

.task-item__check-label {
  flex: 0 0 2rem;
  border: 2px solid $color-bg-main4;
  height: 2rem;
  margin-right: 1rem;
  margin-left: 1rem;
  border-radius: 50%;
  &:hover {
    cursor: pointer;
  }
}

.task-item__edit {
  border: 1px solid $color-secondary;
}

.task-item__check {
  width: 50px;
  position: absolute;
  left: -999px;
  display: hidden;

  &:checked + label {
    background-color: $color-bg-main5;
  }
}

.task-item__info {
  width: 75%;
}

.task-item__name {
  margin-bottom: 0.25rem;
  &--complete {
    text-decoration: line-through;
  }
}
.task-item__date_due {
  margin: 0.1rem 0;
}

.task-item__description {
  margin-top: 0.25rem;
}

.task-item__actions {
  width: 75px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
  padding-right: 1.5rem;

  > button {
    margin: 0.25rem 0.25rem;
  }
}
