@import '../../variables.scss';

.dashboard {
  display: flex;
  position: relative;
  flex-flow: row-reverse nowrap;
  justify-content: space-between;
}

.ham-button {
  border: 2px solid $color-link;
  font-size: 28px;
  position: fixed;
  background-color: inherit;
  border: none;
  width: 50px;
  height: 50px;
  top: 55px;
  left: 0;
  &:hover {
    cursor: pointer;
    background-color: $color-link;
    color: $color-font-header;
  }
}

.dashboard-c {
  color: $color-font-offwhite;
  flex-grow: 5;

}
.dashboard-c h2 {
  font-size: 40px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  font-weight: 600;
  font-family: $font-Family-other
}

#dashboard-label-task-list {
  width: 100%;
  background-color:$color-secondary;
  text-align: center;
  color: $color-font-header;
  font-size: 20px;
  margin: 0 auto;
  padding: 0.8rem 0;
}

.empty-list a{
  text-decoration-line: none;
}

#grouplink, #grouplink2{
  border-bottom: none;
}

.dashboard-task-list-container {
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  width: 97%;
  height: 500px;
  margin: 1rem auto;
  border-radius: 3px;
}

.dashboard-task-list {
  list-style-type: none;
  padding-left: 0px;
  margin-top: 0;
  color: $color-link;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.739);
}

.dashboard-task-list li {
  border-bottom: 2px solid $color-bg-secondary;
  width: 100%;
  text-align: left;
}

.dashboard-task-list li:not(:first-child) {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

@media screen and (min-width: 800px) {
  .dashboard-c {
  }
  .dashboard-task-list {
    width: 100%;
    margin: 0 auto;
  }
  .main-dashboard-section {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: center;
    margin-top: 15px;
  }
  .dashboard-task-list-container {
    border: none;
    border-radius: 0px;
    margin-left: 1.2%;
    margin-right: 1.2%;
    height: 400px;
  }
  #dashboard-label-task-list {
    font-size: 18px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: $color-font-header;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1300px) {
  .dashboard-task-list-container {
    height: 500px;
    width: 70%;
  }
  #dashboard-label-task-list {
    font-size: 20px;
  }
  .main-dashboard-section {
    margin-top: 15px;
  }
}
