@import '../../variables.scss';
.group-list-item a {
    color: white;
    list-style-type: none;
}

.filter{
    justify-content: center;
    align-content: center;
}
.group-list-item a {
    background-color: transparent;
    text-decoration: none;
    color: white;
    font-size: x-large;
    list-style: none;
    font-weight: bolder;
    text-shadow: 4px 3px 11px rgba(0, 0, 0, 0.437);
    }

.dashboard-c{
    color: white;
    padding-top: 40px;
}
.dashboard-c h2{
    font-size: 40px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
#label-group-menu{
    display: none;
}
.group-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.group-menu li{
    margin-right: 30px;
}
#dashboard-label-task-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    z-index: 1;
    background-color:#1F4CBF;
    text-align: center;
    color: white;
    font-size: 20px; 
    width: 100%;
    
}
#dashboard-fixed-container{
        position: sticky;
        position: -webkit-sticky;
        top: 0;
}

.dashboard-task-list-container{
    background-color: white;
    border: 3px solid #1F4CBF;
    border-radius: 10px;
    height: 470px;
    overflow-y: auto;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 40px;
}
.dashboard-task-list{
   list-style-type: none;
    padding-left: 0px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    
}
.dashboard-task-list li{
    border-bottom: 2px solid #1F4CBF;
    width: 100%;
    text-align: left;
}
.dashboard-task-list li:not(:first-child){
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
#group-link{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
// .button {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     margin: 2px;
// }
@media screen and (min-width: 800px) {
    .filter {
    display: flex;
   
    flex-direction: column;
    justify-content: center;
    }
    
   
    .dashboard-c{
        padding-top: 50px;
    }
    .dashboard-task-list{
        background-color: rgba(255, 255, 255, 0.739);
        width: 98%;
        margin-left: 2%;
        margin-top: 0px;
    }
    #label-group-menu{
        display: inherit;
        font-size: 18px;
        background-color: #1F4CBF;
        color: white;
        width: 100%;
        border-top-right-radius: 10px ;
        border-bottom-right-radius: 10px;
        
    }
    .groups{
        height: 450px;
        width: 15%;
    }
    .group-menu{
        display: flex;
        flex-direction: column;
        
    }
    .group-list-item{
        text-align: left;
        margin-left: -10px;
        list-style: square;
    }
    .group-list-item:not(:first-child){
        margin-top: 20px;
        
    }
    .group-list-item a{
        text-decoration: none;
        color: white;
        font-size: 18px;
    }
    .group-list-item a:hover{
        color: rgb(218, 152, 54);
    }
    .main-dashboard-section{
        display: flex;
        flex-direction: row-reverse;
        width: 90%;
        justify-content: center;
        margin-top: 40px;
        margin-left: 10%;
    }
    .dashboard-task-list-container{
        width: 70%;
        height: 450px;
        border: none;
        border-radius: 0px;
        margin-left: 1.2%;
        margin-right: 1.2%;
        background-color: #143380;
        border-right: 1px solid white;
    }
    #dashboard-label-task-list{
        font-size: 18px;
        border-top-left-radius: 10px ;
        border-bottom-left-radius: 10px;
        color: white;
        margin-bottom: 0px;
    }
    
    
}
@media screen and (min-width: 1300px) {
    
    .dashboard-task-list-container{
        width: 70%;
        height: 600px;
    }
    #dashboard-label-task-list{
        font-size: 20px;
    }
    #label-group-menu{
        font-size: 20px;
    }
    
    .groups{
        height: 600px;
        width: 18%;
    }
    .main-dashboard-section{
        margin-top:70px;
        margin-left: 8%;
    }
    
}

