@import '../../variables.scss';

header {
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
}

.app-h1 {
  font-weight: 100;
  margin-left: 0.8rem;
  font-size: 18px;
}

.flexBody {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: $color-bg-main;
  border-bottom: 2.3px solid $color-secondary;
  height: 55px;
}

header a {
  color: $color-font-header;
  text-decoration: none;
  cursor: pointer;
}

header a:hover {
  color: $color-secondary;
}

.loginLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.login-nav,
.signup-nav,
.logout-nav {
  font-size: 14px;
}
.login-nav,
.signup-nav {
  margin-right: 12px;
}

.link-logout {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 200px;
  color: $color-font-normal;
  font-size: 14px;
  margin-right: 10px;
}

.div-span {
  color: $color-font-header;
  margin-right: 20px;
}
.div-span:hover {
  color: $color-secondary;
}

@media only screen and (min-width: 500px) {
  .app-h1 {
    font-size: 20px;
  }
  .login-nav,
  .signup-nav,
  .logout-nav {
    margin-right: 12px;
    font-size: 15px;
  }
  .link-logout {
    font-size: 15px;
  }
}

@media only screen and (min-width: 750px) {
  .app-h1 {
    font-size: 22px;
  }
  .login-nav,
  .signup-nav,
  .logout-nav {
    margin-right: 15px;
    font-size: 16.5px;
  }
  .flexBody {
    height: 60px;
  }
  .link-logout {
    font-size: 16.5px;
  }
}

@media only screen and (min-width: 1200px) {
  .app-h1 {
    font-size: 25px;
  }
  .login-nav,
  .signup-nav,
  .logout-nav {
    margin-right: 25px;
    font-size: 18px;
  }
  .link-logout {
    font-size: 18px;
    width: 700px;
  }
}

@media only screen and (min-width: 1400px) {
  .div-span {
    margin-right: 30px;
  }
}
