@import '../../variables.scss';

.AddTaskForm {
  padding: 1rem;
  margin: 60px auto;
  border-radius: 5px;
  > div {
    display: flex;
    justify-content: center;
  }
}

.TaskContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1.5rem auto;
  justify-content: space-between;
}

.dateContainer {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 100%;
  justify-content: space-around;
}

.task-start {
  display: flex;
  flex-direction: column;
}
.task-end {
  display: flex;
  flex-direction: column;
}

.dateInput {
  -webkit-align-items: center;
  font-family: $font-Family-normal;
  width: 100%;
  font-size: 12px;
  overflow: hidden;
  padding: 8px;
  -webkit-padding-start: 1px;
  margin-bottom: 1.2rem;
}

label {
  margin: 1.2rem;
  margin-bottom: 5px;
}

.CreateTaskButton {
  border: 1px solid rgb(0, 82, 0) !important;
}

.deleteGroupMember select {
  margin: 15px auto;
}

.deleteGroupMember button {
  margin-bottom: 20px;
}

input {
  margin: 1.2rem;
}

select {
  margin: 0 auto;
  width: 100%;
  max-width: 300px;
  color: $color-font-header;
  background-color: $color-bg-main2;
}
@media only screen and (min-width: 520px) {
  .AddTaskForm {
    border: 2px solid $color-bg-main5;
    width: 90%;
    padding: 1.5rem;
  }
  .dateInput {
    font-size: inherit;
  }
}

@media only screen and (min-width: 750px) {
  .AddTaskForm {
    border: 2px solid $color-bg-main5;
    width: 40%;
    padding: 2rem;
  }
}
