@import '../../variables.scss';

.AddTaskForm {
  padding: 1rem;
  margin: 60px auto;
  border-radius: 5px;
}

.TaskContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1.5rem auto;
  justify-content: space-between;
}

.dateContainer {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 100%;
  justify-content: space-around;
}

.task-start {
  display: flex;
  flex-direction: column;
}
.task-end {
  display: flex;
  flex-direction: column;
}

.dateInput {
  -webkit-align-items: center;
  font-family: monospace;
  width: auto;
  overflow: hidden;
  padding: 10px;
  -webkit-padding-start: 1px;
  margin-bottom: 1.2rem;
}

label {
  margin: 1.2rem;
}

input {
  margin: 1.2rem;
}

select {
  margin: 0 auto;
  width: 100%;
  max-width: 300px;
}
@media only screen and (min-width: 520px) {
  .AddTaskForm {
    border: 2px solid #134980;
    width: 90%;
    padding: 1.5rem;
  }
}

@media only screen and (min-width: 750px) {
  .AddTaskForm {
    border: 2px solid #134980;
    width: 40%;
    padding: 2rem;
  }
}
