@import "../../variables.scss";

.AddTaskForm {
  border: 2px solid $color-bg-secondary;
  height: auto;
  padding: 15px;
  margin: 60px 15px;
  border-radius: 5px;
}

.TaskContanier {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;

}

input[type=checkbox] {
  margin: 5px 30px;
}

.dateInput{
  margin-top: 10px;
}

.AddTaskDueDate, .AddTaskPriority, .AddTaskTimeStart {
  font-size: 1.5rem;
}

form input {
  width: 100%;
  padding: 15px;
  margin: 0 auto;
  border: 1px solid #231F20;
  background: #f1f1f1;
  font-size: 1em;
  font-weight: 100;
}

.dateInput {
  -webkit-align-items: center;
  font-family: $font-Family-normal;
  width: auto;
  overflow: hidden;
  padding: 10px;
  -webkit-padding-start: 1px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 750px) {
  .AddTaskForm {
    border: 2px solid $color-bg-secondary;
    height: auto;
    padding: 15px;
    margin: 65px auto;
    width: 40%;
  }
  form input {
    width: 100%;
    padding: 15px;
    margin: 0 auto;
    border: 1px solid #231F20;
    background: #f1f1f1;
    font-size: 1em;
    font-weight: 100;
  }
  .TaskContanier {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
  
  }
  .LeftCont {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .RightCont {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}