#groupSettingsIcon {
  width: 50px;
  height: 50px;
}

.dashboard-sidenav {
  height: calc(100vh - 55px);
  z-index: 1; /* Stay on top */
  position: sticky;
  flex-direction: column;
  display: flex;
  width: 200px;
  top: 55px;
  bottom: 0;
  align-self: flex-start;
  background-color: #134980;
}

.dashboard-sidenav a {
  padding: 1rem 1rem;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: flex;
  width: 100%;
}
.dashboard-sidenav a:hover {
  background-color: rgb(31, 140, 191);
  font-style: oblique;
}
.sidebar-section-label {
  font-size: 22px;
  font-weight: 800;
  background-color: rgb(31, 140, 191);
  width: 100%;
  padding: 0.5rem;
  color: #112334;
}
#outer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}
.flexbox-container {
  display: flex;
  flex-direction: column;
}
.stretch {
}
@media only screen and (max-width: 800px) {
  .dashboard-sidenav {
    position: fixed;
    left: 0;
    transition: left 300ms ease-in-out;
  }
  .dashboard-sidenav--hidden {
    display: hidden;
    left: -100%;
    transition: left 300ms ease-in-out;
  }
  .ham-button-menu {
    width: 50px;
    height: 50px;
    font-size: 28px;
    margin-right: 0;
    background-color: inherit;
    border: none;
    color: white;
    &:hover {
      cursor: pointer;
    }
  }
}
@media only screen and (min-width: 750px) {
  .dashboard-sidenav {
    top: 60px;
  }
}

@media only screen and (min-width: 800px) {
  .ham-button-menu {
    display: none;
  }
}
