#groupSettingsIcon {
  width: 50px;
  height: 50px;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: sticky;
  width: 36px;
  height: 30px;
  top: 60px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  display: none;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: sticky;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0) !important;
}

.sidenav {
  z-index: 1; /* Stay on top */
  position: sticky;
  width: 200px;
  top: 60px;
  bottom: 0px;
  align-self: flex-start;
  background-color: #134980;
}
.dashboard-sidenav {
  z-index: 1; /* Stay on top */
  position: sticky;
  flex-direction: column;
  display: flex;
  width: 200px;
  top: 60px;
  bottom: 0;
  align-self: flex-start;
  background-color: #134980;
}

.ham-button-menu {
  width: 50px;
  height: 50px;
  margin-right: 0.05rem;
}

.sidenav a {
  padding: 2rem 1rem;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: flex;
  width: 100%;
}

.dashboard-sidenav a {
  padding: 2rem 1rem;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: flex;
  width: 100%;
}
.dashboard-sidenav a:hover {
  background-color: rgb(31, 140, 191);
  font-style: oblique;
}
.sidenav a:hover {
  background-color: rgb(31, 140, 191);
  font-style: oblique;
}
.sidebar-section-label {
  font-size: 22px;
  font-weight: 800;
  background-color: rgb(31, 140, 191);
  width: 100%;
  padding: 0.5rem;
  color: #112334;
}
#outer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}
.flexbox-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}
.stretch {
}
@media only screen and (max-width: 790px) {
  .sidenav {
    position: fixed;
    display: flex;
  }

  .sidenav--hidden {
    display: none;
  }
  .sidenav a {
    font-size: 22px;
  }
  .dashboard-sidenav {
    position: fixed;
  }
  .dashboard-sidenav--hidden {
    display: none;
  }
}
