
.sidenav {
    height: 85%; /* Full-height: remove this if you want "auto" height */
    width: 140px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    bottom: 0; 
    right: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
  }
.dashboard-sidenav{
  height: 85%; /* Full-height: remove this if you want "auto" height */
    width: 140px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    bottom: 0; 
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
}
  .sidenav a {
    padding-right: 45px;
    padding-left: 30px;
    padding-top: 45px;
    padding-bottom: 45px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: flex;
    background-color: #112377;
    width: 100%;
    border-top-left-radius: 55px;
    border-bottom-left-radius: 55px;
    
    
  }
  // .dashboard-sidenav a:first-child{
  //   padding-top: 35px;
  //   padding-bottom: 35px;
  // }
  .dashboard-sidenav a {
    padding-right: 20px;
    padding-left: 30px;
    padding-top: 45px;
    padding-bottom: 45px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: flex;
    background-color: #112377;
    width: 100%;
    border-top-right-radius: 70px;
    border-bottom-right-radius: 70px;
    
    
  }
  .dashboard-sidenav a:hover{
    background-color: #1F4CBF;
    font-style: oblique;
  }
  .sidenav a:hover{
    background-color: #1F4CBF;
    font-style: oblique;
  }
.flexbox-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 100%
}
@media only screen and (min-width: 1400px) {
    .sidenav {
        height: 92%;
        width: 150px;
        border-top-left-radius: 65px;
        border-bottom-left-radius: 65px;
    }
    .sidenav a {
    padding-right: 45px;
    padding-left: 32px;
    padding-top: 45px;
    padding-bottom: 45px;
    font-size: 22px;
    }
    .dashboard-sidenav{
      height: 95%
    }
}