@import '../../variables.scss';

.loginSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $color-bg-secondary;
  border: 2px solid $color-bg-secondary;
  border-radius: 5px;
  width: 400px;
  padding: 15px;
  margin: 50px auto;
}

.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $color-bg-secondary;
  border: 2px solid $color-bg-secondary;
  border-radius: 5px;
  width: 400px;
  padding: 15px;
  margin: 50px auto;
}

.login-h2 {
  margin-bottom: 15px;
}

.login-label {
  font-size: 13px;
  margin-bottom: 10px;
}

.signup input, .LoginForm input {
  margin: 10px auto;
}

@media only screen and (min-width: 750px) {
  .login-label {
    font-size: 15px;
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 1300px) {
  .login-label {
    font-size: 18px;
    margin-bottom: 10px;

  }
}
