.groops-hub-c{
    padding-top: 30px;
}
.groops-hub-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    list-style-type: none;
    padding-left: 0;

}
.groops-hub-c h2{
    color: white;
    font-size: 40px;
}
.groops-hub-menu li{
    margin-top: 70px;
    font-size: 20px;
    border-bottom: 1px solid white;
    width: 50%;
}
.groops-hub-menu a{
    text-decoration: none;
    color: white;
}
@media screen and (min-width: 1200px) {
    .groops-hub-menu li{
        width: 9%;
    }
}