$color-font-header: #ffffff;
$color-link: #09d3ac;

$color-bg-main: #c3d8e0cc;
$color-bg-secondary: #999999;

$color-error: #b13232;

$color-alt-main: rgb(121, 204, 252);
$color-alt-secondary: #b13232;
$color-font-normal: #555555;
