$color-font-normal: #ffffff;
$color-link: #09d3ac;

$color-bg-main: #143380;
$color-bg-secondary: #1F4CBF;

$color-error: #ff0000;


$color-alt-main: rgb(218, 152, 54);
$color-alt-secondary: #ED5D66;
