@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Quicksand:500');

$color-font-header: #ffffff;
$color-font-offwhite: #fafafa;
$color-link: #262626;
$color-secondary: #0e59a3;

$color-bg-main1: #1f2023;
$color-bg-main: #1b1b1d;
$color-bg-main2: #27292d;
$color-bg-main3: #2d2f34;
$color-bg-main4: #383840;
$color-bg-main5: #6a6a75;
$color-bg-main6: #81818b;

$color-bg-secondary: #0d0d0d;

$color-error: #b13232;
$color-success: #136e29;

$color-alt-main: rgb(99, 100, 100);
$color-alt-secondary: #b13232;
$color-font-normal: #555555;

$font-Family-header: 'Righteous', cursive;
$font-Family-normal: 'Nanum Gothic', sans-serif;
$font-Family-other:'Quicksand', sans-serif;
