@import '../../variables.scss';
 
.CalenderContainer {
  width: 97%;
  margin: 25px auto;
}

.rbc-month-view, .rbc-time-view{
  border-radius: 3px;
}

.rbc-toolbar span button{
  color: $color-font-header;
}
.rbc-calendar{
  color: $color-font-normal;

}

.rbc-show-more {
  background-color: rgba(235, 168, 43, 0.3) !important;
  font-family: $font-Family-normal;
  text-decoration: none;
  color: $color-font-normal;
}

.rbc-show-more:visited {
  background-color: rgba(235, 168, 43, 0.3) !important;
  font-family: $font-Family-normal;
  text-decoration: none;
  color: $color-font-header;
}

.rbc-month-header, .rbc-time-header-content {
  background-color: azure;
}

.rbc-btn-group button:nth-child(4) {
  display: none;
}

.rbc-month-row {
  border: 1px solid white;
}

.rbc-day-bg, .rbc-time-header-gutter {
  background-color: rgb(235, 237, 240);
}

.rbc-event-allday {
  box-shadow: 3px 3px 5px rgb(46, 46, 46) !important;
}

.rbc-today {
  background-color: rgb(218, 252, 216) !important;
}

.rbc-toolbar button.rbc-active {
  color:$color-font-normal;
}

.rbc-timeslot-group {
  background-color: rgb(237, 243, 227) !important;
}

.rbc-time-column{
  background-color: rgb(201, 206, 193);
}

.rbc-toolbar-label {
  font-size: 1em;
  color: $color-font-header;
  font-family: $font-Family-normal;
}

@media only screen and (min-width: 750px) {
  .rbc-toolbar-label {
    font-size: 2em;
    color: $color-bg-secondary;
    font-family: $font-Family-normal;
  }
}