@import '../../variables.scss';
 
.CalenderContainer {
  width: 97%;
  margin: 25px auto;
}

.rbc-month-view, .rbc-time-view{
  border-radius: 3px;
}

.rbc-toolbar span button{
  color: $color-font-offwhite;
}
.rbc-calendar{
  color: $color-font-offwhite;
}

.rbc-show-more {
  background-color: rgba(235, 168, 43, 0.3) !important;
  font-family: $font-Family-normal;
  text-decoration: none;
  color: $color-font-offwhite;
}

.rbc-show-more:visited {
  background-color: rgba(235, 168, 43, 0.3) !important;
  font-family: $font-Family-normal;
  text-decoration: none;
  color: $color-font-offwhite;
}

.rbc-month-header, .rbc-time-header-content {
  background-color: $color-bg-main4;
}

.rbc-month-view {
  border: 1px solid $color-bg-main5 !important;
}

.rbc-btn-group button:nth-child(4) {
  display: none;
}

.rbc-month-row {
  border: 1px solid $color-bg-main5 !important;
}
.rbc-day-bg + .rbc-day-bg {
  border-left: 1px solid $color-bg-main5 !important;
}

.rbc-day-bg, .rbc-time-header-gutter {
  background-color: $color-bg-main3;
  color: $color-font-offwhite;
}

.rbc-event.rbc-selected {
  background-color: $color-bg-main5 !important;
}

.rbc-event {
  background-color: $color-bg-main4 !important;
}

.rbc-today {
  background-color: $color-bg-main6 !important;
}

.rbc-toolbar button.rbc-active {
  color:$color-font-normal;
}

.rbc-off-range-bg {
  background-color: $color-bg-main !important;
}

.rbc-timeslot-group {
  background-color: $color-bg-main3 !important;
}

.rbc-time-column{
  background-color: $color-bg-main3 !important;
}

.rbc-toolbar-label {
  font-size: 1em;
  color: $color-font-offwhite;
  font-family: $font-Family-normal;
}

@media only screen and (min-width: 750px) {
  .rbc-toolbar-label {
    font-size: 2em;
    color: $color-font-offwhite;
    font-family: $font-Family-normal;
  }
}